<html>
	<head>
		<script type="text/javascript">
			$(document).ready(function(){
			    // alert("Ready");
			});
		</script>
		<style>
			.left{
				/*background-color: green;*/
				height: 667px;
			}
			.right{
				/*background-color: red;*/
			}
			.container-fluid{
				margin-top: 5%;
				margin-left: 10%;
				/*background-color: orange;*/
				height: 667px;
			}
			h2{
				/*color: #ff64c7 !important;*/
				/*font-weight: bold;*/
				/* Lighter Color in logo is #ff99ca*/
			}
			h2:hover{
				/*color: #ff99ca !important;*/
			}
			a:hover{
				text-decoration: none;
				color: #ff99ca !important;
			}
			a{
				font-weight: bold;
				color: #ff64c7 !important;
			}
			.about{
				margin-top: 2em;
			}
			.leftNav{
				margin-top: 2em;
			}
			.fotorama__caption__wrap{
			    font-size: 1.5em;
			    background: none;
				color: #ff99ca !important;
			    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
			}
			.fotorama__arrow{
				/*color: #ff99ca !important;*/
			}
			.textDiv{
				margin-right: 25%;
			}
			.headshot{
				text-align: center;
			}
			.headshotImg{
/*				width: 50%;
				height: 30%;*/
			}
			.textBody{
    			margin: 3% 6% 0%;
			}
			.social{
				width: 100%;
				position: absolute;
				bottom: 5%;
			}
			.social img{
				display: inline;
			}
			.social img:hover{
				opacity: 0.7;
			}
			.navLogo img{
				width: 100%;
			}
			.mobile{
				display: none;
			}
			.photocredit{
				display: block;
			}
/* Media Queries */
@media screen and (max-width: 992px) {
    .mobile{
        display: block;
    }
    .desktop{
    	display: none;
    }
    .right{
    	text-align: center;
    }
    .mobileButtons{
    	margin-top: 10%;
    	display: block;
    }
    .modalButtons{
    	display: none;
    }
    h3{
    	/*display: inline;*/
    }
    .mobileFoto{
    	margin-top: 5%;
    }
    .navLogo img{
    	width: 70%;
    }
    .mobileNavLinks h3{
    	font-size: 3em
    }
    .logoCont{
    	text-align: center;
    	margin-top: 5%;
    }
    .mobileParagrph{
    	margin-top: 5%;
    	font-size: 2.5em;
    }
    .headshot{
    	margin-top: 5%;
    }
    .photocredit{
    	font-size: 2.5em;
    }

}
		</style>
	</head>
	<body>
		<div class="container-fluid desktop">
			<div class="row">
				<div class="col-md-2 left">
					<span class="navLogo"><a href="/crafts"><%= image_tag 'logo2.png' %></a></span>
					<div class="leftNav">
						<h4><a href="crafts">CUNTS & CRAFTS</a></h4>
						<h4><a href="arts">ARTS & SHAFTS</a></h4>
						<h4><a href="classic">THE CLASSIC</a></h4>
						<h4 class="about"><a href="/about">ABOUT</a></h4>
						<h4 class="contact"><a href="/contact">CONTACT</a></h4>
					</div>
					<div class="social">
						<a href="https://www.instagram.com/glitteris/" class="soIcon"><%= image_tag 'instagram.png' %></a>
					</div>
				</div>
				<div class="col-md-10 right">
					<div class="textDiv">
						<div class="headshot"><%= image_tag 'aboutme_photo.jpg' %>
							<span class="photocredit">Photo by <a href="http://www.jonathan-clark.com">Jonathan Clark</a></span>
						</div>
						<div class="textBody">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquam congue ornare. Duis non nulla diam. Quisque hendrerit odio pellentesque, mollis ligula sed, eleifend lorem. Pellentesque ac risus vitae turpis pretium egestas eu at ex. Praesent vel ante non dolor lacinia lacinia. Mauris congue neque in justo volutpat luctus. Vestibulum tincidunt justo nec condimentum sollicitudin. Phasellus ut ex a nibh tincidunt porttitor. Sed tellus nisi, condimentum sed suscipit quis, porttitor et felis. Vestibulum aliquet ornare mattis. Nulla scelerisque, ligula nec rutrum tempus, nunc enim egestas risus, vitae vehicula ligula nulla nec lacus. Fusce consectetur pellentesque dui, ut aliquam nisi tempor a. Proin sed malesuada erat, pulvinar malesuada sapien. Ut placerat eleifend nulla, non consequat augue hendrerit feugiat. Aliquam suscipit leo eros, sed pharetra justo vulputate non. Curabitur sit amet fermentum est, quis faucibus mauris.</p>

						<p>Mauris a interdum turpis. Mauris posuere sem vitae sapien finibus dapibus. Aenean molestie enim vel ex bibendum, ac rutrum sapien fringilla. Etiam dapibus ligula sed massa aliquam, tempus mollis est rutrum. Ut sit amet sapien id elit feugiat viverra et eget libero. Vivamus ipsum libero, tincidunt ac lobortis ac, tincidunt auctor lacus. Quisque augue ante, tincidunt laoreet nulla vitae, tincidunt congue lorem. Aliquam eleifend, felis ornare pretium mollis, diam velit tristique lacus, quis efficitur lectus tortor non nunc.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container mobile">
			<div class="row">
				<div class="col-md-12 logoCont">
					<span class="navLogo"><a href="/classic"><%= image_tag 'logo2.png' %></a></span>
				</div>
			</div>
			<div class="row mobileNavLinks">
				<div class="col-sm-4">
					<h3><a href="crafts">CUNTS & CRAFTS</a></h3>
					<h3><a href="/contact">CONTACT</a></h3>
				</div>
				<div class="col-sm-4">
					<h3><a href="arts">ARTS & SHAFTS</a></h3>
					<h3><a href="/about">ABOUT</a></h3>
				</div>
				<div class="col-sm-4">
					<h3><a href="classic">THE CLASSIC</a></h3>
					<h3><a href="https://www.instagram.com/glitteris/">INSTAGRAM</a></h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div>
						<div class="headshot"><%= image_tag 'aboutme_photo.jpg' %>
							<span class="photocredit">Photo by <a href="http://www.jonathan-clark.com">Jonathan Clark</a></span>
						</div>
						<div class="mobileParagrph">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquam congue ornare. Duis non nulla diam. Quisque hendrerit odio pellentesque, mollis ligula sed, eleifend lorem. Pellentesque ac risus vitae turpis pretium egestas eu at ex. Praesent vel ante non dolor lacinia lacinia. Mauris congue neque in justo volutpat luctus. Vestibulum tincidunt justo nec condimentum sollicitudin. Phasellus ut ex a nibh tincidunt porttitor. Sed tellus nisi, condimentum sed suscipit quis, porttitor et felis. Vestibulum aliquet ornare mattis. Nulla scelerisque, ligula nec rutrum tempus, nunc enim egestas risus, vitae vehicula ligula nulla nec lacus. Fusce consectetur pellentesque dui, ut aliquam nisi tempor a. Proin sed malesuada erat, pulvinar malesuada sapien. Ut placerat eleifend nulla, non consequat augue hendrerit feugiat. Aliquam suscipit leo eros, sed pharetra justo vulputate non. Curabitur sit amet fermentum est, quis faucibus mauris.</p>

						<p>Mauris a interdum turpis. Mauris posuere sem vitae sapien finibus dapibus. Aenean molestie enim vel ex bibendum, ac rutrum sapien fringilla. Etiam dapibus ligula sed massa aliquam, tempus mollis est rutrum. Ut sit amet sapien id elit feugiat viverra et eget libero. Vivamus ipsum libero, tincidunt ac lobortis ac, tincidunt auctor lacus. Quisque augue ante, tincidunt laoreet nulla vitae, tincidunt congue lorem. Aliquam eleifend, felis ornare pretium mollis, diam velit tristique lacus, quis efficitur lectus tortor non nunc.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>