<html>
	<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- fotorama.css & fotorama.js. -->
	<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
		<script type="text/javascript">
			$(document).ready(function(){
				  $(function() {
				      $('.dropdown').on({
				          "click": function(event) {
				            if ($(event.target).closest('.dropdown-toggle').length) {
				              $(this).data('closable', true);
				            } else {
				              $(this).data('closable', false);
				            }
				          },
				          "hide.bs.dropdown": function(event) {
				            hide = $(this).data('closable');
				            $(this).data('closable', true);
				            return hide;
				          }
				      });
				  });
			});
		</script>
		<style>
			.left{
				/*background-color: green;*/
				height: 667px;
			}
			.right{
				/*background-color: red;*/
			}
			.container-fluid{
				margin-top: 5%;
				margin-left: 10%;
				/*background-color: orange;*/
				height: 667px;
			}
			h2{
				/*color: #ff64c7 !important;*/
				/*font-weight: bold;*/
				/* Lighter Color in logo is #ff99ca*/
			}
			h2:hover{
				/*color: #ff99ca !important;*/
			}
			a:hover{
				text-decoration: none;
				color: #ff99ca !important;
			}
			a{
				font-weight: bold;
				color: #ff64c7 !important;
			}
			.about{
				margin-top: 2em;
			}
			.leftNav{
				margin-top: 2em;
			}
			.fotorama__caption__wrap{
			    font-size: 1.5em;
			    background: none;
				color: #ff99ca !important;
			    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
			}
			.fotorama__arrow{
				/*color: #ff99ca !important;*/
			}
			.textDiv{
				margin-right: 25%;
			}
			.headshot{
				text-align: center;
			}
			.headshotImg{
/*				width: 50%;
				height: 30%;*/
			}
			.textBody{
    			margin: 3% 6% 0%;
			}
			.social{
				width: 100%;
				position: absolute;
				bottom: 5%;
			}
			.social img{
				display: inline;
			}
			.social img:hover{
				opacity: 0.7;
			}
			.navLogo img{
				width: 100%;
			}
			.mobile{
				display: none;
			}
		    .photocredit{
		    	display: block;
		    	font-family: "Helvetica Nue";
		    }
		    .textBody{
		    	font-family: "Helvetica Nue";
		    }
.sub { 
  color: #ffffff; 
  background-color: #FF64C7; 
  border-color: #A36281; 
} 
 
.sub:hover, 
.sub:focus, 
.sub:active, 
.sub.active, 
.open .dropdown-toggle.sub { 
  color: #ffffff; 
  background-color: #FF99CA; 
  border-color: #A36281; 
} 
 
.sub:active, 
.sub.active, 
.open .dropdown-toggle.sub { 
  background-image: none; 
} 
 
.sub.disabled, 
.sub[disabled], 
fieldset[disabled] .sub, 
.sub.disabled:hover, 
.sub[disabled]:hover, 
fieldset[disabled] .sub:hover, 
.sub.disabled:focus, 
.sub[disabled]:focus, 
fieldset[disabled] .sub:focus, 
.sub.disabled:active, 
.sub[disabled]:active, 
fieldset[disabled] .sub:active, 
.sub.disabled.active, 
.sub[disabled].active, 
fieldset[disabled] .sub.active { 
  background-color: #FF64C7; 
  border-color: #A36281; 
} 
 
.sub .badge { 
  color: #FF64C7; 
  background-color: #ffffff; 
}
label{
  color: #FF64C7; 
}
/* Media Queries */
@media screen and (max-width: 992px) {
    .mobile{
        display: block;
    }
    .desktop{
    	display: none;
    }
    .right{
    	text-align: center;
    }
    .mobileButtons{
    	margin-top: 10%;
    	display: block;
    }
    .modalButtons{
    	display: none;
    }
    h3{
    	/*display: inline;*/
    }
    .mobileFoto{
    	margin-top: 5%;
    }
    .navLogo img{
    	width: 70%;
    }
    .mobileNavLinks h3{
    	font-size: 3em
    }
    .logoCont{
    	text-align: center;
    	margin-top: 5%;
    }
    .mobileParagrph{
    	margin-top: 5%;
    	font-size: 2.5em;
    }
    .headshot{
    	margin-top: 2%;
    }
    .photocredit{
    	font-size: 2.5em;
    	font-family: "Helvetica Nue";
    }
    .textBody{
    	font-family: "Helvetica Nue";
    }
    #dLabel{
	    position: absolute;
	    right: 18px;
	    top: 48px;
    	padding-bottom: 0.3em;
    }
    .sub{
    	font-size: 2em;
    }
    .dropdown-menu{
	    width: 100%;
	    padding: 2% 0% 4% 0%;
	    position: absolute !important;
	    margin-bottom: 2%;
    }
    .dropdown-menu h3{
    	font-size: 2.4em;
    }

}
		</style>
	</head>
<body data-no-turbolink="true">
		<div class="container-fluid desktop">
			<div class="row">
				<div class="col-md-2 left">
					<span class="navLogo"><a href="/crafts"><%= image_tag 'logo2.png' %></a></span>
					<div class="leftNav">
						<h4><a href="crafts">CUNTS & CRAFTS</a></h4>
						<h4><a href="arts">ARTS & SHAFTS</a></h4>
						<h4><a href="classic">THE CLASSIC</a></h4>
						<h4 class="about"><a href="/about">ABOUT</a></h4>
						<h4 class="contact"><a href="/contact">CONTACT</a></h4>
					</div>
					<div class="social">
						<a href="https://www.instagram.com/chasekoopersmith/" class="soIcon"><%= image_tag 'instagram.png' %></a>
					</div>
				</div>
				<div class="col-md-10 right">
					<div class="textDiv">
						<div class="headshot"><%= image_tag 'aboutme_photo.jpg' %>
							<span class="photocredit">Photo by <a href="http://www.jonathan-clark.com">Jonathan Clark</a></span>
						</div>
						<div class="textBody">
							<p>Chase Koopersmith attended both School of the Museum of Fine Arts Boston [SMFA], and Art Center College of Design; where she received her BFA in photography. Her experience with attending art schools at opposite ends of the spectrum, SMFA being entirely conceptually based while Art Center was almost entirely technically based, has shaped her practice as an artist.</p>
							 
							<p>Koopersmith’s work primarily explores the themes of intimacy, vulnerability, and sexuality. She feels that connecting with others in ways that promote both a certain level of intimacy and vulnerability open up an individual to not only connecting with others on a deeper level, but connecting with oneself at a deeper level.</p> 
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container mobile">
			<div class="dropdown">
			<div class="row">
				<div class="col-md-12 logoCont">
					<span class="navLogo"><a href="/classic"><%= image_tag 'logo2.png' %></a></span>
				</div>
			</div>
			  <button id="dLabel" class="btn sub" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dLabel">
				<div class="col-sm-4">
					<h3><a href="crafts">CUNTS & CRAFTS</a></h3>
					<h3><a href="/contact">CONTACT</a></h3>
				</div>
				<div class="col-sm-4">
					<h3><a href="arts">ARTS & SHAFTS</a></h3>
					<h3><a href="/about">ABOUT</a></h3>
				</div>
				<div class="col-sm-4">
					<h3><a href="classic">THE CLASSIC</a></h3>
					<h3><a href="https://www.instagram.com/chasekoopersmith/">INSTAGRAM</a></h3>
				</div>
			  </div>
			</div>
<!-- 			<div class="row mobileNavLinks">
				<div class="col-sm-4">
					<h3><a href="crafts">CUNTS & CRAFTS</a></h3>
					<h3><a href="/contact">CONTACT</a></h3>
				</div>
				<div class="col-sm-4">
					<h3><a href="arts">ARTS & SHAFTS</a></h3>
					<h3><a href="/about">ABOUT</a></h3>
				</div>
				<div class="col-sm-4">
					<h3><a href="classic">THE CLASSIC</a></h3>
					<h3><a href="https://www.instagram.com/chasekoopersmith/">INSTAGRAM</a></h3>
				</div>
			</div> -->
			<div class="row">
				<div class="col-sm-12">
					<div>
						<div class="headshot"><%= image_tag 'aboutme_photo.jpg' %>
							<span class="photocredit">Photo by <a href="http://www.jonathan-clark.com">Jonathan Clark</a></span>
						</div>
						<div class="mobileParagrph">
							<p>Chase Koopersmith attended both School of the Museum of Fine Arts Boston [SMFA], and Art Center College of Design; where she received her BFA in photography. Her experience with attending art schools at opposite ends of the spectrum, SMFA being entirely conceptually based while Art Center was almost entirely technically based, has shaped her practice as an artist.</p>
							 
							<p>Koopersmith’s work primarily explores the themes of intimacy, vulnerability, and sexuality. She feels that connecting with others in ways that promote both a certain level of intimacy and vulnerability open up an individual to not only connecting with others on a deeper level, but connecting with oneself at a deeper level.</p> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>