<html>
	<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- fotorama.css & fotorama.js. -->
	<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
	<!-- fotorama.css & fotorama.js. -->
		<script type="text/javascript">
			$(document).ready(function(){
				$( "#menuButton" ).click(function() {
				  $( ".menuList" ).toggle( "slow", function() {
				    // Animation complete.
				  });
				});
				function fadeCB(callback){
				  $('.formOut').fadeOut(600);
				  callback;
				}

				function fadeIn(){
				  $('.formIn').fadeIn(600);
				}
			      $('#mailerform').on('submit', function(){
			      var valuesToSubmit = $(this).serialize();
			      $.ajax({
			          type: "POST",
			          url: "/mail", //sumbits it to the given url of the form
			          data: valuesToSubmit,
			          success: function(result){
			            $('.formOut').fadeOut(300, function(){
			              $('.formIn').fadeIn(300);
			            });
			          } // you want a difference between normal and ajax-calls, and json is standard
			      })
			      return false; // prevents normal behaviour
			    });
			      $('#mailerformMobile').on('submit', function(){
			      var valuesToSubmit = $(this).serialize();
			      $.ajax({
			          type: "POST",
			          url: "/mail", //sumbits it to the given url of the form
			          data: valuesToSubmit,
			          success: function(result){
			            $('.formOut').fadeOut(300, function(){
			              $('.formIn').fadeIn(300);
			              $(window).scrollTop(0);
			              var scale = 'scale(1)';
			            });
			          } // you want a difference between normal and ajax-calls, and json is standard
			      })
			      return false; // prevents normal behaviour
			    });
				  $(function() {
				      $('.dropdown').on({
				          "click": function(event) {
				            if ($(event.target).closest('.dropdown-toggle').length) {
				              $(this).data('closable', true);
				            } else {
				              $(this).data('closable', false);
				            }
				          },
				          "hide.bs.dropdown": function(event) {
				            hide = $(this).data('closable');
				            $(this).data('closable', true);
				            return hide;
				          }
				      });
				  });
			});
		</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93067023-1', 'auto');
  ga('send', 'pageview');

</script>
		<style>
			.left{
				/*background-color: green;*/
				height: 667px;
			}
			.right{
				/*background-color: red;*/
			}
			.container-fluid{
				margin-top: 5%;
				margin-left: 10%;
				/*background-color: orange;*/
				height: 667px;
			}
			h2{
				/*color: #ff64c7 !important;*/
				/*font-weight: bold;*/
				/* Lighter Color in logo is #ff99ca*/
			}
			h2:hover{
				/*color: #ff99ca !important;*/
			}
			a:hover{
				text-decoration: none;
				color: #ff99ca !important;
			}
			a{
				font-weight: bold;
				color: #ff64c7 !important;
			}
			.about{
				margin-top: 2em;
			}
			.leftNav{
				margin-top: 2em;
			}
			.fotorama__caption__wrap{
			    font-size: 1.5em;
			    background: none;
				color: #ff99ca !important;
			    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
			}
			.fotorama__arrow{
				/*color: #ff99ca !important;*/
			}
			.textDiv{
				margin-top: 6%;
				margin-left: 25%;
			}
			.headshot{
				text-align: center;
			}
			.headshotImg{
				width: 50%;
				height: 30%;
			}
			.textBody{
				margin-top: 3%;
			}
			.sub{
				margin-top: 5%;
			}
			.form-control:focus {
			  border-color: #ff99ca;
			  /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);*/
			}
.sub { 
  color: #ffffff; 
  background-color: #FF64C7; 
  border-color: #A36281; 
} 
 
.sub:hover, 
.sub:focus, 
.sub:active, 
.sub.active, 
.open .dropdown-toggle.sub { 
  color: #ffffff; 
  background-color: #FF99CA; 
  border-color: #A36281; 
} 
 
.sub:active, 
.sub.active, 
.open .dropdown-toggle.sub { 
  background-image: none; 
} 
 
.sub.disabled, 
.sub[disabled], 
fieldset[disabled] .sub, 
.sub.disabled:hover, 
.sub[disabled]:hover, 
fieldset[disabled] .sub:hover, 
.sub.disabled:focus, 
.sub[disabled]:focus, 
fieldset[disabled] .sub:focus, 
.sub.disabled:active, 
.sub[disabled]:active, 
fieldset[disabled] .sub:active, 
.sub.disabled.active, 
.sub[disabled].active, 
fieldset[disabled] .sub.active { 
  background-color: #FF64C7; 
  border-color: #A36281; 
} 
 
.sub .badge { 
  color: #FF64C7; 
  background-color: #ffffff; 
}
label{
  color: #FF64C7; 
}
			.social{
				width: 100%;
				position: absolute;
				bottom: 5%;
			}
			.social img{
				display: inline;
			}
			.social img:hover{
				opacity: 0.7;
			}
			.formIn{
				display: none;
			    margin-top: 6%;
			    margin-left: 25%;
  				color: #FF64C7; 
			}
			.navLogo img{
				width: 100%;
			}
			.mobile{
				display: none;
			}
/* Media Queries */
@media screen and (max-width: 992px) {
    .mobile{
        display: block;
    }
    .desktop{
    	display: none;
    }
    .right{
    	text-align: center;
    }
    .mobileButtons{
    	margin-top: 10%;
    	display: block;
    }
    .modalButtons{
    	display: none;
    }
    h3{
    	/*display: inline;*/
    }
    .mobileFoto{
    	margin-top: 5%;
    }
    .navLogo img{
    	width: 70%;
    }
    .mobileNavLinks h3{
    	font-size: 3em
    }
    .logoCont{
    	text-align: center;
    	margin-top: 5%;
    }
    .textDiv{
    	margin-left: 0%;
    	font-size: 2em;
    }
    .formOut{
    	font-size: 3em;
    }
    .formOut input{
    	height: 2em;
    	font-size: 1em;
    }
    .formOut textarea{
    	height: 5em;
    	font-size: 1em;
    }
    .formRow{
    	margin-top: 5%;
    }
    .sub{
    	font-size: 1em;
    	margin-top: 5%;
    }
    .formIn{
    	margin-left: 0px !important;
    }
    .formIn h1{
    	font-size: 3em;
    }
    .sub{
    	font-size: 1em;
    }
    .dropdown-menu{
	    width: 100%;
	    padding: 2% 0% 4% 0%;
	    position: absolute !important;
	    margin-bottom: 2%;
    }
    .dropdown-menu h3{
    	font-size: 2.4em;
    }
    #dLabel{
	    position: absolute;
	    right: 18px;
	    top: 48px;
	    margin-top: 0px !important;
	    padding-bottom: 0.3em;
    }
    #menuButton{
	    position: absolute;
	    right: 84px;
	    top: 51px;
	    margin-top: 0%;
	    font-size: 2em;
    }
    .menuList{
    	overflow-y: auto;
    	display: none;
    }
}
		</style>
	</head>
<body data-no-turbolink="true">
		<div class="container-fluid desktop">
			<div class="row">
				<div class="col-md-2 left">
					<span class="navLogo"><a href="/classic"><%= image_tag 'logo2.png' %></a></span>
					<div class="leftNav">
						<h4><a href="crafts">CUNTS & CRAFTS</a></h4>
						<h4><a href="arts">ARTS & SHAFTS</a></h4>
						<h4><a href="classic">THE CLASSIC</a></h4>
						<h4 class="about"><a href="/about">ABOUT</a></h4>
						<h4 class="contact"><a href="/contact">CONTACT</a></h4>
					</div>
					<div class="social">
						<a href="https://www.instagram.com/chasekoopersmith/" class="soIcon" target="_blank"><%= image_tag 'instagram.png' %></a>
					</div>
				</div>
				<div class="col-md-10 right">
					<div class="formOut textDiv">
						<form action="mail" method="POST" id="mailerform" data-remote="false">
						    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
							<div class="row">
								<div class="col-md-4">
								<label for="name">FIRST NAME</label>
								<input name ="first" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
								<label for="name">LAST NAME</label>
								<input name="last" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
								<label for="name">EMAIL</label>
								<input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
								<label for="name">SUBJECT</label>
								<input name="subject" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
								<label for="name">MESSAGE</label>
    							<textarea name="message" class="form-control" id="exampleTextarea" rows="5"></textarea>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<button type="submit" class="btn btn-block sub">SEND</button>
								</div>
							</div>
						</form>
					</div>
					<div class="formIn">
						<h1>THANKS!</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="container mobile">
			<div class="row">
				<div class="col-md-12 logoCont">
					<span class="navLogo"><a href="/crafts"><%= image_tag 'logo2.png' %></a></span>
				</div>
			</div>
			  <button id="menuButton" class="btn sub">MENU</button>
			<div class="menuList">
				<div class="col-sm-12">
					<h2><a href="crafts">CUNTS & CRAFTS</a></h2>
					<h2><a href="arts">ARTS & SHAFTS</a></h2>
					<h2><a href="classic">THE CLASSIC</a></h2>
					<h2><a href="/about">ABOUT</a></h2>
					<h2><a href="/contact">CONTACT</a></h2>
					<h2><a href="https://www.instagram.com/chasekoopersmith/" target="_blank">INSTAGRAM</a></h2>
				</div>
			</div>
			<div class="row formRow">
				<div class="col-sm-6">
					<div class="formOut textDiv">
						<form action="mail" method="POST" id="mailerformMobile" data-remote="false">
						    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
							<div class="row">
								<div class="col-md-4">
								<label for="name">FIRST NAME</label>
								<input name ="first" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
								<label for="name">LAST NAME</label>
								<input name="last" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
								<label for="name">EMAIL</label>
								<input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
								<label for="name">SUBJECT</label>
								<input name="subject" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
								<label for="name">MESSAGE</label>
    							<textarea name="message" class="form-control" id="exampleTextarea" rows="5"></textarea>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<button type="submit" class="btn btn-block sub">SEND</button>
								</div>
							</div>
						</form>
					</div>
					<div class="formIn">
						<h1>THANKS!</h1>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>