<html>
	<head>
<!-- fotorama.css & fotorama.js. -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
		<script type="text/javascript">
			$(document).ready(function(){
				// 1. Initialize fotorama manually.
			    var $fotoramaDiv = $('#fotorama').fotorama();

			    // 2. Get the API object.
			    var fotorama = $fotoramaDiv.data('fotorama');

			    // 3. Inspect it in console.
			    console.log(fotorama);
			    $('#fs').click(function(){
			    	fotorama.requestFullScreen();
			    })
			});
			$(document).ready(function(){
					$(function() {
				      $('.dropdown').on({
				          "click": function(event) {
				          	console.log("CLICKED");
				            if ($(event.target).closest('.dropdown-toggle').length) {
				              $(this).data('closable', true);
				            } else {
				              $(this).data('closable', false);
				            }
				          },
				          "hide.bs.dropdown": function(event) {
				            hide = $(this).data('closable');
				            $(this).data('closable', true);
				            return hide;
				          }
				      });
				  });
$('body').on('touchstart.dropdown', '.dropdown-menu', function (e) { e.stopPropagation(); });
				$( "#menuButton" ).click(function() {
				  $( ".menuList" ).toggle( "slow", function() {
				    $('.menuList').addClass('.abs');
				  });
				});
			})
		</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93067023-1', 'auto');
  ga('send', 'pageview');

</script>
		<style>
			.left{
				/*background-color: green;*/
				height: 667px;
			}
			.right{
				/*background-color: red;*/
			}
			.container-fluid{
				margin-top: 5%;
				margin-left: 10%;
				/*background-color: orange;*/
				height: 667px;
			}
			h2{
				/*color: #ff64c7 !important;*/
				/*font-weight: bold;*/
				/* Lighter Color in logo is #ff99ca*/
			}
			h2:hover{
				/*color: #ff99ca !important;*/
			}
			a:hover{
				text-decoration: none;
				color: #ff99ca !important;
			}
			a{
				font-weight: bold;
				color: #ff64c7 !important;
			}
			.fotorama__caption__wrap{
			    font-size: 1.5em;
			    background: none;
				color: #ff99ca !important;
			    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
			}
			.fotorama__arrow{
				/*color: #ff99ca !important;*/
			}
			.social{
				width: 100%;
				position: absolute;
				bottom: 0;
			}
			.social img{
				display: inline;
			}
			.social img:hover{
				opacity: 0.7;
			}
			.about{
				margin-top: 2em;
			}
			.leftNav{
				margin-top: 2em;
			}
			.navLogo img{
				width: auto;
			}
			.mobile{
				display: none;
			}
/* Media Queries */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .mobile{
        display: block;
    }
    .desktop{
    	display: none;
    }
    .right{
    	text-align: center;
    }
    .mobileButtons{
    	margin-top: 10%;
    	display: block;
    }
    .modalButtons{
    	display: none;
    }
    h3{
    	/*display: inline;*/
    }
    .mobileFoto{
    	margin-top: 5%;
    }
    .navLogo img{
    	width: 70%;
    }
    .mobileNavLinks h3{
    	font-size: 3em
    }
    .logoCont{
    	text-align: center;
    	margin-top: 5%;
    }
    .fscol{
    	text-align: center;
    	margin-top: 5%;
    }
    /* Need to make icons bigger for mobile */
/*    .fotorama__fullscreen-icon img{
    	width: 300px !important;
    }*/
.sub { 
  color: #ffffff; 
  background-color: #FF64C7; 
  border-color: #A36281; 
  font-size: 2.5em;
} 
 
.sub:hover, 
.sub:focus, 
.sub:active, 
.sub.active, 
.open .dropdown-toggle.sub { 
  color: #ffffff; 
  background-color: #FF99CA; 
  border-color: #A36281; 
} 
 
.sub:active, 
.sub.active, 
.open .dropdown-toggle.sub { 
  background-image: none; 
} 
 
.sub.disabled, 
.sub[disabled], 
fieldset[disabled] .sub, 
.sub.disabled:hover, 
.sub[disabled]:hover, 
fieldset[disabled] .sub:hover, 
.sub.disabled:focus, 
.sub[disabled]:focus, 
fieldset[disabled] .sub:focus, 
.sub.disabled:active, 
.sub[disabled]:active, 
fieldset[disabled] .sub:active, 
.sub.disabled.active, 
.sub[disabled].active, 
fieldset[disabled] .sub.active { 
  background-color: #FF64C7; 
  border-color: #A36281; 
} 
 
.sub .badge { 
  color: #FF64C7; 
  background-color: #ffffff; 
}
label{
  color: #FF64C7; 
}
    .sub{
    	font-size: 2em;
    }
    .dropdown-menu{
	    width: 100%;
	    padding: 2% 0% 4% 0%;
	    position: absolute !important;
	    margin-bottom: 2%;
    }
    .dropdown-menu h3{
    	font-size: 2.4em;
    }
    #menuButton{
	    position: absolute;
	    right: 84px;
	    top: 51px;
    }
    .menuList{
    	overflow-y: auto;
    	display: none;
    }
}
		</style>
	</head>
<body data-no-turbolink="true">
		<div class="container-fluid desktop">
			<div class="row">
				<div class="col-md-2 col-sm-2 left">
					<span class="navLogo"><a href="/crafts"><%= image_tag 'logo2.png' %></a></span>
					<div class="leftNav">
						<h4><a href="crafts">CUNTS & CRAFTS</a></h4>
						<h4><a href="arts">ARTS & SHAFTS</a></h4>
						<h4><a href="classic">THE CLASSIC</a></h4>
						<h4 class="contact"><a href="/contact">CONTACT</a></h4>
					</div>
					<div class="social">
						<a href="https://www.instagram.com/chasekoopersmith/" class="soIcon" target="_blank"><%= image_tag 'instagram.png' %></a>
					</div>
				</div>
				<div class="col-md-10 col-sm-10 right">
					<div class="fotorama" data-width="100%" data-ratio="750/500" data-minwidth="400" data-maxwidth="1000" data-minheight="300" data-maxheight="100%">
					  <%= image_tag 'crafts/02_pink_cake.jpg' %>
					  <%= image_tag 'crafts/03_red_roses.jpg' %>
					  <%= image_tag 'crafts/04_sienna_mushrooms.jpg' %>
					  <%= image_tag 'crafts/05_yellow_banana.jpg' %>
					  <%= image_tag 'crafts/01_green_witch.jpg' %>
					  <%= image_tag 'crafts/07_teal_mermaid.jpg' %>
					  <%= image_tag 'crafts/10_cobalt_heart.jpg' %>
					  <%= image_tag 'crafts/09_purple_galaxy.jpg' %>
					  <%= image_tag 'crafts/08_white_unicorn.jpg' %>
					  <%= image_tag 'crafts/06_black_widow.jpg' %>
					</div>
				</div>
			</div>
		</div>
		<div class="container mobile">
			<div class="row">
				<div class="col-md-12 logoCont">
					<span class="navLogo"><a href="/crafts"><%= image_tag 'logo2.png' %></a></span>
				</div>
			</div>
			  <button id="menuButton" class="btn sub">MENU</button>
			<div class="menuList">
				<div class="col-sm-12">
					<h2><a href="/crafts">CUNTS & CRAFTS</a></h2>
					<h2><a href="/arts">ARTS & SHAFTS</a></h2>
					<h2><a href="/classic">THE CLASSIC</a></h2>
					<h2><a href="/contact">CONTACT</a></h2>
					<h2><a href="https://www.instagram.com/chasekoopersmith/" target="_blank">INSTAGRAM</a></h2>
				</div>
			</div>
			<div class="row mobileFoto">
			<div class="col-md-12">
				<div id="fotorama" class="fotorama" data-width="100%" data-ratio="750/500" data-maxwidth="1000" data-minheight="300" data-maxheight="100%" data-allowfullscreen="true">
					  <%= image_tag 'crafts/02_pink_cake.jpg' %>
					  <%= image_tag 'crafts/03_red_roses.jpg' %>
					  <%= image_tag 'crafts/04_sienna_mushrooms.jpg' %>
					  <%= image_tag 'crafts/05_yellow_banana.jpg' %>
					  <%= image_tag 'crafts/01_green_witch.jpg' %>
					  <%= image_tag 'crafts/07_teal_mermaid.jpg' %>
					  <%= image_tag 'crafts/10_cobalt_heart.jpg' %>
					  <%= image_tag 'crafts/09_purple_galaxy.jpg' %>
					  <%= image_tag 'crafts/08_white_unicorn.jpg' %>
					  <%= image_tag 'crafts/06_black_widow.jpg' %>
				</div>
			</div>
			<div class="row fsbutton">
				<div class="col-md-12 fscol">
				<button id="fs" class="btn sub">FULLSCREEN</button>
				</div>
			</div>
			</div>
		</div>
	</body>
</html>